<launch>
	<!-- if kinect not connected openni load driver false, else somehow decide -->
	<!-- if rviz is open that its ok else open rviz -->



	<!-- need to pass argument to openni.launch file depth_registration true -->
	<include file="$(find openni_launch)/launch/openni.launch">
	  <!-- all vars that included.launch requires must be set -->
	  <!-- <arg name="depth_registration" value="true" /> -->
	  <arg name="load_driver" value="false" />
	</include>

	<node pkg="object_detection" name="main" type="main.py" output="screen" />
    <node pkg="grasp_detection" name="python_subscriber_node" type="python_subscriber_node.py" output="screen" />
	<node pkg="rosbag" type="play" name="player" output="screen" args="$(find grasp_detection)/kinect_white_cup.bag"/>
 
</launch>